#{extends 'CRUD/layout.html' /}

<div id="crudIndex">

    <h2>&{'Result Importer'}</h2>

    <form action="@{admin.ResultImporter.uploadFile()}" method="POST" enctype="multipart/form-data">
        <input type="file" id="file" name="file" />
        <input type="submit" value="Send it..." />
    </form>

    <h3>Upload yaml file:</h3>
    <form action="@{admin.ResultImporter.uploadYaml()}" method="POST" enctype="multipart/form-data">
        <input type="file" id="yaml" name="file" />
        <input type="submit" value="Send it..." />
    </form>

</div>